body {
    background-color: #f7fafc;
    font-family: Arial, sans-serif;
	width: fit-content;
	margin: 0 auto;
}

main {
	margin: -5% 5%
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
